package component

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Bajet App</title>
			<link
				rel="stylesheet"
				href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css"
			/>
			<link href="/static/main.css" rel="stylesheet"/>
		</head>
		<body>
			<header>
				<nav>
					<ul>
						<li>
							<hgroup>
								<h1>💰 Bajet</h1>
								<p>Never run out of money!</p>
							</hgroup>
						</li>
					</ul>
					
				</nav>
			</header>
			<main>
				{ children... }
			</main>
			<footer>
				<p style="text-align: center;">&copy; 2024 Bajet</p>
			</footer>
		</body>
	</html>
}
